.list {
    display: flex;
    justify-content: center;
    
}

.listContainer {
    display: flex;
    width: 100%;
    max-width: 1024px;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
}

.search {
    flex: 1;
    background-color: rgb(245, 205, 6);
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;;
}

.searchContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.searchContainer>h1 {
    padding: 0;
    margin: 0;
}

.listItem {
    display: flex;
    flex: 3;
    flex-direction: column;
    gap: 20px;

}

.destination {
    height: 35px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px;
   
}

.detailInput {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
}

.detailContainer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}

.listTilte {
    display: flex;
}

.listInput {
    display: flex;
    width: 20%;
    border: none;
    outline: none;
    border-radius: 3px;
}

.listSearch {
    padding: 10px;
    background-color: rgb(6, 73, 50);
    color: white;
    border: none;
    margin-top: 40px;
    border-radius: 5px;
}

.listItem {
    display: flex;
    height: 350px;
    width: 331px ;
}

.listItemContainer {
    display: flex;
   align-items: center;
    flex-direction: row;
    border: 1px solid lightgray;
    border-radius: 10px;
    gap: 20px;
    padding: 10px;
}

.listItemImg {
    display: flex;
   
    width: 200px;
    height: 200px;
    flex: 1;
    object-fit: cover;
    border-radius: 3px;
}

.listItemTitle {
    display: flex;
    justify-content: space-between;
    flex: 3;
    margin: 0;
    padding: 0;
}

.listItemTitleDetail {
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}

.listFacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.listExcRange {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.listItemPrices {
    display: flex;
    flex-direction: column;
    gap: 10px;
}